---
import { CveFormPredictContexts } from "./forms/CveForm"
---

<div class="container mx-auto">
  <div class="my-8">
    <h1 class="text-6xl font-extrabold">cvepred.</h1>
  </div>
  <CveFormPredictContexts client:load />
</div>
